name: Release

on:
  push:
    tags:
    - 'v*.rd*'
    - 'test-v*.rd*'
  workflow_dispatch:

env:
  GO111MODULE: on

jobs:
  build:
    strategy:
      matrix:
        os:
        - macos-11
        - macos-12
        - ubuntu-20.04
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    steps:
    - uses: actions/setup-go@v4
      with:
        go-version: 1.21.x
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0
        submodules: recursive
    - name: Install sha512sum
      if: startswith(matrix.os, 'macos')
      run: brew install coreutils
    - name: Build lima tarballs
      env:
        OS: ${{ matrix.os }}
      run: |
        set -x
        command -v xcrun && xcrun --show-sdk-version

        cd lima
        export GOARCH
        for GOARCH in amd64 arm64; do
          if [ "$GOARCH" == "amd64" -o "$(uname)" == "Darwin" ]; then
            ARCH=${GOARCH/amd64/x86_64}
            ARCH=${ARCH/arm64/aarch64}
            GUESTAGENT="_output/share/lima/lima-guestagent.Linux-${ARCH}"

            make clean exe codesign "$GUESTAGENT"
            find _output -type f -exec file {} \;

            TARBALL="lima.${OS/ubuntu-*/linux}.${GOARCH}.tar.gz"
            tar cfvz "$TARBALL" -C _output ./
            sha512sum "$TARBALL" >"${TARBALL}.sha512sum"
          fi
        done
    - uses: actions/upload-artifact@v3
      with:
        name: lima.${{ matrix.os }}
        path: lima/lima.*
        if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [build]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/download-artifact@v3
    - name: "Create release"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        TAG="${GITHUB_REF##*/}"
        gh release create "$TAG" --draft --notes "$TAG" lima.*/*
